
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@*<link rel="stylesheet" href="~/Content/menuCateory.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">*@
@*<div style="padding: 20px">
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <ul class="carousel">
            <li class="card">
                <a href="@Url.Action("MenuPartial", "Product")">

                    <div class="img"><img src="~/img/imgMenuCateory/BestSeller.png" alt="img" draggable="false"></div>
                    <h2 class="text-uppercase">Best seller</h2>
                </a>
            </li>
            
            <li class="card">
                <a href="@Url.Action("MenuPartial", "Product")">
                    <div class="img"><img src="~/img/imgMenuCateory/drinks.jpg" alt="img" draggable="false"></div>
                    <h2 class="text-uppercase">Drinks</h2>
                </a>
               
            </li>
            <li class="card">
                
                <div class="img"><img src="images/img-3.jpg" alt="img" draggable="false"></div>
                <h2>Lariach French</h2>
            </li>
            <li class="card">
                <div class="img"><img src="images/img-4.jpg" alt="img" draggable="false"></div>
                <h2>James Khosravi</h2>
            </li>
            <li class="card">
                <div class="img"><img src="images/img-6.jpg" alt="img" draggable="false"></div>
                <h2>Donald Horton</h2>
            </li>
        </ul>
        <i id="right" class="fa-solid fa-angle-right"></i>
    </div>*@

    <div>
        @Html.Action("MenuPartial", "Product")
    </div>
</div>

<script src="~/Scripts/menuScript.js"></script>

