@model FastFoodWebsite.Models.User
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div class="details">
    <div class="recentOrders">
        <div class="cardHeader">
            <h3>Reset Password</h3>
        </div>
        <div>
            <form method="post" action="~/Admin/ResetPassword">
                <input type="hidden" name="userID" value="@Model.UserId" />
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(model => model.fullName, new
               {
                   @class = "form-control",
                   id = "fullName",
                   placeholder = "Full Name",
                   value = Model.fullName
               })
                    <label for="productName">Full Name</label>
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(model => model.phone, new
                   {
                       @class = "form-control",
                       id = "phone",
                       placeholder = "Phone"
                   })
                    <label for="phone">Phone</label>
                </div>
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(model => model.email, new
               {
                   @class = "form-control",
                   type = "email",
                   id = "floatingInput",
                   placeholder = "name@example.com"
               })
                    <label for="floatingInput">Email address</label>

                </div>
                <div class="form-floating mb-3">
                    @*@Html.TextBoxFor(model => model.password, new
        {
            @class = "form-control",
            type = "password",
            id = "floatingPassword",
            placeholder = "Password"
        })*@
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="newPassword">

                    <label for="floatingPassword">New Password</label>
                    @*@Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })*@

                </div>
                <div class="form-floating mb-3">
                    @*@Html.TextBoxFor(model => model.confirmPassword, new
        {
            @class = "form-control",
            type = "password",
            id = "confirmPassword",
            placeholder = "Confirm Password"
        })*@
                    <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" name="confirmPassword">

                    <label for="confirmPassword">Confirm Password</label>
                    @*@Html.ValidationMessageFor(model => model.confirmPassword, "", new { @class = "text-danger" })*@

                </div>

                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-danger justify-content-lg-between">UPDATES PASSWORD</button>
                </div>

            </form>
</div>
    </div>   
</div>

