
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="about">
    <div class="content">
        <img src="~/Content/img/tuyetchinh.jpg" />
        <div class="text">
            <h1>About Us</h1>
            <h4>Đinh Thị Tuyết Chinh</h4>
            <p>Đây là bài đồ án môn lập trình web <br />Được thực hiện bởi Đinh Thị Tuyết Chinh </p>
            @*<button type="button">Để biết thêm về tôi</button>*@
        </div>
    </div>
</div>

